.i-select {
  width: 100%;
  .i-popup__reference {
    width: 100%;
    & > .i-input {
      height: auto;
      .i-input__inner {
        &::selection {
          background: transparent;
        }
      }
    }
  }
  &[data-size='small'] {
    width: 160px;
  }
  &[data-size='large'] {
    width: 240px;
  }
  .i-input__hide-clear {
    & > .icon-TipCloseFill {
      display: none !important;
    }
  }
  .i-input {
    & > .icon-TipCloseFill {
      cursor: pointer;
    }
    & > .icon-ArrowDown {
      pointer-events: none;
    }
  }
  .i-tag--close-btn .i-icon {
    cursor: pointer;
  }
}

.i-select-arrow__show {
  transform: rotate(180deg);
}

.i-select__multiple-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  width: 100%;
  margin: 6px 0;
  overflow: hidden;
  .i-tag {
    border-radius: 2px;
  }
}
