.i-pagination {
  display: flex;
  gap: 16px;
  align-items: center;
}

.i-pagination-select {
  width: 100px;
}

.i-pagination-control {
  display: flex;
  gap: 8px;
  align-items: center;
}

.i-pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px;
  min-width: 32px;
  height: 32px;
  color: var(--i-font-2);
  font-size: 14px;
  border: 1px solid var(--i-border);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  &:hover {
    color: var(--i-primary-txt);
    border-color: var(--i-primary-txt);
  }
  &.i-pagination-btn__handle {
    border: none;
    &:hover {
      background: var(--i-bg-hover);
    }
  }
  &.i-pagination-btn__active {
    color: var(--i-bg);
    background: var(--i-primary-txt);
    border-color: var(--i-primary-txt);
    &:hover {
      color: var(--i-bg);
    }
  }
  &.i-pagination-btn__disabled {
    color: var(--i-font-disabled);
    cursor: not-allowed;
    &:hover {
      color: var(--i-font-disabled);
      background: unset;
      border-color: var(--i-border);
    }
    &.i-pagination-btn__handle {
      border: none;
    }
    &.i-pagination-btn__active {
      color: var(--i-bg);
      background: var(--i-primary-disabled);
      border-color: var(--i-primary-disabled);
    }
  }
}

.i-pagination-btn__wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 192px;
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.i-pagination-input {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--i-font-2);
  font-size: 14px;
}
