@keyframes loading-rotate {
  to {
    transform: rotate(360deg);
  }
}

.i-loading {
  display: flex;
  align-items: center;
}

.i-loading-spinner {
  animation: loading-rotate 2s linear infinite;
  .i-icon {
    color: var(--i-primary-txt);
  }
}

.i-loading-info {
  margin-left: 8px;
  color: var(--i-primary-txt);
}
