.i-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--i-font-2);
  cursor: pointer;
  &.i-checkbox--size-small {
    .i-checkbox__input {
      transform: scale(0.8);
      transform-origin: left;
    }
    .i-checkbox__label {
      margin: 0 4px;
    }
  }
  &.i-checkbox--size-large {
    .i-checkbox__input {
      transform: scale(1.2);
      transform-origin: left;
    }
    .i-checkbox__label {
      margin: 0 12px;
    }
  }
  &:hover {
    .i-checkbox__input {
      border-color: var(--i-primary-hover);
    }
  }
  &.i-checkbox-is-checked {
    margin-left: inherit;
    .i-checkbox__input {
      background-color: var(--i-primary);
      border-color: var(--i-primary);
      transition: background-color 0.1s cubic-bezier(0.82, 0, 1, 0.9);
      &::after {
        opacity: 1;
      }
    }
  }
  &.i-checkbox-is-disabled {
    cursor: not-allowed;
    &:hover,
    &.i-checkbox-is-checked {
      .i-checkbox__input {
        border-color: var(--i-border);
      }
    }
    .i-checkbox__input {
      background-color: var(--i-bg-disabled);
      &::after {
        border-color: var(--i-border);
      }
    }
    .i-checkbox__label {
      color: var(--i-font-disabled);
    }
  }
}

.i-checkbox__former {
  position: absolute;
  box-sizing: border-box;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  outline: 0;
  appearance: none;
  clip: rect(0 0 0 0);
}

.i-checkbox__input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-color: var(--i-bg);
  border: 1px solid var(--i-border);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  &::after {
    position: absolute;
    top: 7px;
    left: 3px;
    width: 4px;
    height: 8px;
    background: transparent;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    border-radius: 0 0 1px;
    transform: rotate(45deg) scale(1) translate(-60%, -50%);
    opacity: 0;
    content: '';
  }
}

.i-checkbox__label {
  display: inline-block;
  margin: 0 8px;
  font-size: 14px;
  vertical-align: middle;
  user-select: none;
}

.i-checkbox-group {
  .i-checkbox {
    margin-right: 16px;
  }
}
