$primary: #3a3cf5;

.i-date-picker {
  &[data-type='range'] {
    .i-input {
      min-width: 196px;
    }
  }
}

.i-date-panel {
  box-sizing: border-box;
  width: auto;
}

.i-date-panel__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 12px 16px 12px 20px;
}

.i-date-panel__header-today {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border: 1px solid #606266;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-out;
  &:hover {
    border-color: #4493ef;
  }
}

.i-date-panel__header-handle {
  display: flex;
  gap: 2px;
  align-items: center;
}

.i-date-panel__header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-out;
  .i-icon {
    margin: 0;
  }
  &:hover {
    background: #f3f3f3;
  }
  &.i-date-panel__header-icon__disabled {
    cursor: not-allowed;
    .i-icon {
      color: #c0c4cc;
    }
    &:hover {
      background: unset;
    }
  }
}

.i-date-panel__header-title-wrapper {
  display: flex;
  gap: 2px;
  align-items: center;
}

.i-date-panel__header-title {
  cursor: pointer;
  transition: all 0.1s ease-out;
  user-select: none;
  &:hover {
    color: $primary;
  }
}

.i-date__year-select-panel,
.i-date__month-select-panel {
  box-sizing: border-box;
  width: auto;
  padding: 8px 12px 16px;
}

.i-date__year-select-title,
.i-date__month-select-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e5e6;
}

.i-date__year-select-list,
.i-date__month-select-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  padding-top: 16px;
}

.i-date__year-select-item,
.i-date__month-select-item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 42px;
  height: 26px;
  font-size: 12px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  user-select: none;
  &.i-date__year-select-item__current,
  &.i-date__month-select-item__current {
    color: #4493ef;
    background: #dae9fc;
    &:hover {
      color: #4493ef;
    }
  }
  &.i-date__year-select-item__selected,
  &.i-date__month-select-item__selected {
    color: #fff;
    background: #4493ef;
    &:hover {
      color: #fff;
    }
  }
  &:hover {
    color: $primary;
  }
}

.i-date-panel__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 12px 12px;
}

.i-date-panel__week-wrapper,
.i-date-panel__day-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 252px;
  row-gap: 4px;
}

.i-date-panel__week-item,
.i-date-panel__day-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.i-date-panel__day-item {
  position: relative;
  cursor: pointer;
  user-select: none;
  &.i-date-panel__day-item__current {
    color: #4493ef;
    .i-date-panel__day-item-txt {
      background: #dae9fc;
    }
    &:hover {
      color: #4493ef;
    }
  }
  &.i-date-panel__day-item__in-range {
    color: #fff;
    background: rgba(130, 183, 244, 0.9);
    .i-date-panel__day-item-txt {
      background: unset;
    }
    &.-range__start {
      border-radius: 50% 0 0 50%;
    }
    &.-range__end {
      border-radius: 0 50% 50% 0;
    }
    &.-range__same {
      border-radius: 50%;
    }
  }
  &.i-date-panel__day-item__selected {
    color: #fff;
    .i-date-panel__day-item-txt {
      background: #4493ef;
    }
    &:hover {
      color: #fff;
    }
  }
  &.i-date-panel__day-item__blur {
    color: #00000042;
    .i-date-panel__day-item-txt {
      background: unset;
    }
    &:hover {
      color: #00000042;
    }
  }
  &:hover {
    color: $primary;
  }
}

.i-date-panel__day-item-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: inherit;
  border-radius: 50%;
}

.i-date-panel__range {
  display: flex;
  align-items: center;
  .i-date-panel:last-of-type {
    border-left: 1px solid #e5e5e6;
  }
}
