$primary: #3a3cf5;

.i-dropdown__menu {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 0;
  word-wrap: break-word;
  list-style: none;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
}

.i-dropdown__item {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 16px;
  color: rgb(48, 49, 51);
  font-size: 14px;
  line-height: 22px;
  direction: ltr;
  white-space: nowrap;
  word-wrap: break-word;
  list-style: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &[data-direction='left'] {
    .icon-ArrowLeft {
      margin-right: 8px;
      margin-left: -8px;
    }
    .i-dropdown__item-txt {
      width: 100%;
      text-align: end;
    }
  }
  &[data-direction='right'] {
    .icon-ArrowRight {
      margin-right: -8px;
      margin-left: 8px;
    }
    .i-dropdown__item-txt {
      width: 100%;
      text-align: start;
    }
  }
  .i-dropdown__menu {
    position: absolute;
    top: 0;
    left: calc(100% - 6px);
    display: none;
    border: 1px solid rgb(228, 231, 237);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.08) 0px 6px 16px 0px,
      rgba(0, 0, 0, 0.05) 0px 9px 28px 8px;
    cursor: default;
    &.i-dropdown__menu-left {
      right: calc(100% - 6px);
      left: unset;
    }
  }
  &:hover {
    background-color: rgb(240, 242, 240);
    & > .i-dropdown__menu {
      display: block;
    }
  }
  &[data-disabled] {
    .i-icon {
      color: #00000042 !important;
    }
    &:hover {
      & > .i-dropdown__menu {
        display: none;
      }
    }
  }
  &.i-dropdown__item-has-divider {
    margin-bottom: 11px;
    &::after {
      position: absolute;
      bottom: -6px;
      left: 0px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      margin: 0;
      padding: 0;
      line-height: 0;
      list-style: none;
      background-color: #0000000f;
      content: '';
    }
  }
  &.i-dropdown__item-is-active {
    background-color: #ecf0fe;
  }
  &.i-dropdown__item-is-disabled {
    color: #00000042;
    cursor: not-allowed;
    user-select: none;
    &:hover {
      background-color: unset;
    }
  }
}

.i-dropdown__item-multiple {
  &.i-dropdown__item-is-active {
    background-color: unset;
  }
  &:hover {
    background-color: rgb(240, 242, 240);
  }
}


.i-dropdown__item-txt-is-active {
  color: $primary;
}

.i-dropdown__item-check {
  display: flex;
  align-items: center;
  width: 14px;
  height: 14px;
  margin-left: 12px;
  .icon-Check {
    color: $primary;
  }
}

@keyframes show {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
