$primary: #3a3cf5;

.i-tabs {
  position: relative;
  display: flex;
  box-sizing: border-box;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e6;
}

.i-tabs-item {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0 12px;
  color: #333;
  cursor: pointer;
  &.i-tabs-item__active {
    color: $primary;
  }
  &.i-tabs-item__disabled {
    color: #c9cdd4;
    cursor: not-allowed;
  }
  &.i-tabs-item__card {
    border-top: 1px solid #e5e5e6;
    border-left: 1px solid #e5e5e6;
    &:first-of-type {
      border-radius: 4px 0 0 0;
    }
    &:last-of-type {
      border-right: 1px solid #e5e5e6;
      border-radius: 0 4px 0 0;
    }
    &.i-tabs-item__active {
      background: #fff;
      &::after {
        content: '';
      }
    }
    &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
    }
  }
}

.i-tabs__bar {
  position: absolute;
  bottom: 0px;
  height: 2px;
  background: $primary;
  border-radius: 1px;
  transition: all 0.2s ease-out;
}
