.i-progress {
  display: flex;
  align-items: center;
}

@keyframes indeterminate_bar {
  0% {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.i-progress-bar {
  position: relative;
  overflow: hidden;
  background: var(--i-bg-back);
  border-radius: 100px;
  .i-progress__info {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
  }
  &.i-progress-bar__has-label {
    min-height: 20px;
  }
}

.i-progress-circle__bg {
  stroke: var(--i-bg-back);
}

.i-progress-bar__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--i-primary);
  border-radius: 100px;
}

.i-progress-circle__inner {
  stroke: var(--i-primary);
}

.i-progress__info {
  margin-left: 8px;
  color: var(--i-font-2);
  font-size: 14px;
}

@keyframes indeterminate_circle {
  to {
    stroke-dashoffset: 0;
  }
}

.i-progress-circle {
  position: relative;
  svg {
    transform: rotate(-90deg);
  }
  .i-progress__info {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
}
