.i-breadcrumb {
  display: flex;
  align-items: center;
}

.i-breadcrumb__item {
  display: flex;
  align-items: center;
}

.i-breadcrumb__separator {
  display: flex;
  align-items: center;
  margin: 0 4px;
}
