.i-notification {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 400px;
  padding: 16px;
  color: var(--i-font-2);
  font-size: 14px;
  background-color: var(--i-bg);
  border-radius: 6px;
  outline: 0;
  box-shadow: var(--i-shadow);
  .i-icon {
    margin-right: 8px;
  }
  .icon-TipInfo {
    color: var(--i-primary);
  }
  .icon-TipCheckFill {
    color: var(--i-success);
  }
  .icon-TipWarningFill {
    color: var(--i-warning);
  }
  .icon-TipCloseFill {
    color: var(--i-error);
  }
}

.i-notification__close {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-out;
  .i-icon {
    margin: 0;
  }
  &:hover {
    background: var(--i-bg-hover);
  }
}

.i-notification__main-closeable {
  padding-right: 24px;
}

.i-notification__title {
  margin-bottom: 8px;
  color: var(--i-font-2);
  font-size: 16px;
  line-height: 24px;
  word-break: break-all;
}

.i-notification__content {
  color: var(--i-font-5);
  line-height: 22px;
  word-break: break-all;
}

.i-notification-wrapper {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.i-notification-wrapper__bottom-right {
    top: unset;
    bottom: 24px;
  }
  &.i-notification-wrapper__top-left {
    right: unset;
    left: 24px;
  }
  &.i-notification-wrapper__bottom-left {
    top: unset;
    right: unset;
    bottom: 24px;
    left: 24px;
  }
}

.i-notification-wrapper[class*="top"] {
  .i-notification:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.i-notification-wrapper[class*="bottom"] {
  .i-notification:not(:first-of-type) {
    margin-top: 16px;
  }
}

$notification_line_enter: all 300ms ease-out;
$notification_line_exit: all 300ms ease-out;

// 从左上渐进垂直渐出
.i-notification-top-left-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.i-notification-top-left-enter-active {
  transform: translate(0);
  opacity: 1;
  transition: $notification_line_enter;
}

.i-notification-top-left-exit {
  opacity: 1;
}

.i-notification-top-left-exit-active {
  height: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 16px !important;
  transform: translateY(-100%);
  opacity: 0;
  transition: $notification_line_exit;
}

// 从右上渐进垂直渐出
.i-notification-top-right-enter {
  transform: translateX(100%);
  opacity: 0;
}

.i-notification-top-right-enter-active {
  transform: translate(0);
  opacity: 1;
  transition: $notification_line_enter;
}

.i-notification-top-right-exit {
  opacity: 1;
}

.i-notification-top-right-exit-active {
  height: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 16px !important;
  transform: translateY(-100%);
  opacity: 0;
  transition: $notification_line_exit;
}

// 从右下渐进垂直渐出
.i-notification-bottom-right-enter {
  transform: translateX(100%);
  opacity: 0;
}

.i-notification-bottom-right-enter-active {
  transform: translate(0);
  opacity: 1;
  transition: $notification_line_enter;
}

.i-notification-bottom-right-exit {
  opacity: 1;
}

.i-notification-bottom-right-exit-active {
  height: 0 !important;
  margin-top: 0 !important;
  padding: 0 16px !important;
  transform: translateY(100%);
  opacity: 0;
  transition: $notification_line_exit;
}

// 从左下渐进垂直渐出
.i-notification-bottom-left-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.i-notification-bottom-left-enter-active {
  transform: translate(0);
  opacity: 1;
  transition: $notification_line_enter;
}

.i-notification-bottom-left-exit {
  opacity: 1;
}

.i-notification-bottom-left-exit-active {
  height: 0 !important;
  margin-top: 0 !important;
  padding: 0 16px !important;
  transform: translateY(100%);
  opacity: 0;
  transition: $notification_line_exit;
}
