.i-notification {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 400px;
  padding: 16px;
  color: var(--i-font-2);
  font-size: 14px;
  background-color: var(--i-bg);
  border-radius: 6px;
  outline: 0;
  box-shadow: var(--i-shadow);
  .i-icon {
    margin-right: 8px;
  }
  .icon-TipInfo {
    color: var(--i-primary);
  }
  .icon-TipCheckFill {
    color: var(--i-success);
  }
  .icon-TipWarningFill {
    color: var(--i-warning);
  }
  .icon-TipCloseFill {
    color: var(--i-error);
  }
}

.i-notification__close {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-out;
  .i-icon {
    margin: 0;
  }
  &:hover {
    background: var(--i-bg-hover);
  }
}

.i-notification__main-closeable {
  padding-right: 24px;
}

.i-notification__title {
  margin-bottom: 8px;
  color: var(--i-font-2);
  font-size: 16px;
  line-height: 24px;
  word-break: break-all;
}

.i-notification__content {
  color: var(--i-font-5);
  line-height: 22px;
  word-break: break-all;
}

.i-notification-wrapper {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: center;
  .i-notification:not(:last-of-type) {
    margin-bottom: 16px;
  }
  &.i-notification-wrapper__bottom-right {
    top: unset;
    bottom: 24px;
  }
  &.i-notification-wrapper__top-left {
    right: unset;
    left: 24px;
  }
  &.i-notification-wrapper__bottom-left {
    top: unset;
    right: unset;
    bottom: 24px;
    left: 24px;
  }
}
