@font-face {
  font-family: 'idesignicon';
  src: url('');
  src: url('?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_3161433_umctmb34e4.woff2?t=1652087672919') format('woff2'),
    url('//at.alicdn.com/t/font_3161433_umctmb34e4.woff?t=1652087672919') format('woff'),
    url('//at.alicdn.com/t/font_3161433_umctmb34e4.ttf?t=1652087672919') format('truetype'),
    url('#iconfont') format('svg');
}

.i-icon {
  color: #606266;
  font-size: 16px;
  font-family: 'idesignicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Dropper:before {
  content: "\e6bf";
}

.icon-Clock:before {
  content: '\e6be';
}

.icon-ViewHide:before {
  content: '\e6bc';
}

.icon-View:before {
  content: '\e6bd';
}

.icon-TagPrice:before {
  content: '\e6ba';
}

.icon-TagCollection:before {
  content: '\e6bb';
}

.icon-AddFile:before {
  content: '\e6b9';
}

.icon-CheckBold:before {
  content: '\e653';
}

.icon-SearchSub:before {
  content: '\e654';
}

.icon-UserFilled:before {
  content: '\e655';
}

.icon-ChatSquare:before {
  content: '\e656';
}

.icon-ArrowLineTopLeft:before {
  content: '\e657';
}

.icon-ShoppingCart:before {
  content: '\e658';
}

.icon-RefreshLeft:before {
  content: '\e659';
}

.icon-Filter:before {
  content: '\e65b';
}

.icon-Share:before {
  content: '\e65c';
}

.icon-SearchPlus:before {
  content: '\e65d';
}

.icon-Flag:before {
  content: '\e65e';
}

.icon-LocationFill:before {
  content: '\e65f';
}

.icon-DeleteFill:before {
  content: '\e660';
}

.icon-Histogram:before {
  content: '\e661';
}

.icon-LinkDouble:before {
  content: '\e662';
}

.icon-More:before {
  content: '\e663';
}

.icon-ArrowSortBottom:before {
  content: '\e664';
}

.icon-TipPlus:before {
  content: '\e665';
}

.icon-ChatLineSquare:before {
  content: '\e666';
}

.icon-Female:before {
  content: '\e667';
}

.icon-ChatDotSquare:before {
  content: '\e668';
}

.icon-ArrowSort:before {
  content: '\e669';
}

.icon-Search:before {
  content: '\e66a';
}

.icon-Copy:before {
  content: '\e66b';
}

.icon-ArrowDoubleRight:before {
  content: '\e66c';
}

.icon-TipSubFill:before {
  content: '\e66d';
}

.icon-TheSub:before {
  content: '\e66e';
}

.icon-Loading:before {
  content: '\e66f';
}

.icon-PictureRounded:before {
  content: '\e670';
}

.icon-Edit:before {
  content: '\e671';
}

.icon-TipQuestion:before {
  content: '\e672';
}

.icon-TipPlusFill:before {
  content: '\e673';
}

.icon-ShoppingCartFull:before {
  content: '\e674';
}

.icon-TipSub:before {
  content: '\e675';
}

.icon-TipInfo:before {
  content: '\e676';
}

.icon-ArrowCaretLeft:before {
  content: '\e677';
}

.icon-Star:before {
  content: '\e678';
}

.icon-Link:before {
  content: '\e679';
}

.icon-ChatLineRound:before {
  content: '\e67a';
}

.icon-TipWarningFill:before {
  content: '\e67b';
}

.icon-TipCheckFill:before {
  content: '\e67c';
}

.icon-Delete:before {
  content: '\e67d';
}

.icon-Bell:before {
  content: '\e67e';
}

.icon-LocationArrow:before {
  content: '\e67f';
}

.icon-ArrowLineUpload:before {
  content: '\e680';
}

.icon-ArrowCaretRight:before {
  content: '\e681';
}

.icon-ArrowCaretSort:before {
  content: '\e682';
}

.icon-SettingFill:before {
  content: '\e683';
}

.icon-User:before {
  content: '\e684';
}

.icon-Location:before {
  content: '\e685';
}

.icon-MoreFilled:before {
  content: '\e686';
}

.icon-ArrowLineRight:before {
  content: '\e687';
}

.icon-ArrowLineTopRight:before {
  content: '\e688';
}

.icon-ArrowLeftBold:before {
  content: '\e689';
}

.icon-UserAvatar:before {
  content: '\e68a';
}

.icon-ArrowCaretBottom:before {
  content: '\e68b';
}

.icon-ArrowLineBottomLeft:before {
  content: '\e68c';
}

.icon-PictureFilled:before {
  content: '\e68d';
}

.icon-RefreshRight:before {
  content: '\e68e';
}

.icon-ArrowSort2:before {
  content: '\e68f';
}

.icon-StarFill:before {
  content: '\e690';
}

.icon-Check:before {
  content: '\e691';
}

.icon-ArrowLeft:before {
  content: '\e692';
}

.icon-Menu:before {
  content: '\e693';
}

.icon-ModeLight:before {
  content: '\e694';
}

.icon-CloseBold:before {
  content: '\e695';
}

.icon-ArrowLineBottom:before {
  content: '\e696';
}

.icon-BellMute:before {
  content: '\e697';
}

.icon-TipWarning:before {
  content: '\e698';
}

.icon-BellFill:before {
  content: '\e699';
}

.icon-ArrowDown:before {
  content: '\e69a';
}

.icon-TipCheck:before {
  content: '\e69b';
}

.icon-TipClose:before {
  content: '\e69c';
}

.icon-ModeDark:before {
  content: '\e69d';
}

.icon-ArrowCaretTop:before {
  content: '\e69e';
}

.icon-TipCloseFill:before {
  content: '\e69f';
}

.icon-Email:before {
  content: '\e6a0';
}

.icon-ArrowUpBold:before {
  content: '\e6a1';
}

.icon-ArrowRight:before {
  content: '\e6a2';
}

.icon-Close:before {
  content: '\e6a3';
}

.icon-Lock:before {
  content: '\e6a4';
}

.icon-Frame:before {
  content: '\e6a5';
}

.icon-EditPen:before {
  content: '\e6a6';
}

.icon-ArrowLineLeft:before {
  content: '\e6a7';
}

.icon-ChatRound:before {
  content: '\e6a8';
}

.icon-ArrowLineBottomRight:before {
  content: '\e6a9';
}

.icon-Setting:before {
  content: '\e6aa';
}

.icon-ThePlus:before {
  content: '\e6ab';
}

.icon-FullScreen:before {
  content: '\e6ac';
}

.icon-ArrowDownBold:before {
  content: '\e6ad';
}

.icon-Male:before {
  content: '\e6ae';
}

.icon-ArrowLineDownload:before {
  content: '\e6af';
}

.icon-ArrowSortTop:before {
  content: '\e6b0';
}

.icon-ChatDotRound:before {
  content: '\e6b1';
}

.icon-Picture:before {
  content: '\e6b2';
}

.icon-Unlock:before {
  content: '\e6b3';
}

.icon-ArrowUp:before {
  content: '\e6b4';
}

.icon-ArrowDoubleLeft:before {
  content: '\e6b5';
}

.icon-Calendar:before {
  content: '\e6b6';
}

.icon-ArrowRightBold:before {
  content: '\e6b7';
}

.icon-Refresh:before {
  content: '\e6b8';
}
