

.i-upload {
  color: var(--i-font-2);
  font-size: 14px;
}

.i-upload__block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px dashed var(--i-border);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    border-color: var(--i-border-hover);
  }
}

.i-upload__drag {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 320px;
  padding: 12px 0;
  background: var(--i-bg-hover);
  border: 1px dashed var(--i-border);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    border-color: var(--i-border-hover);
  }
  &.i-upload__dragging {
    border-color: var(--i-primary);
  }
}

.i-upload-placeholder {
  color: var(--i-font-4);
}

.i-upload-tip {
  color: var(--i-font-5);
  font-size: 12px;
}
