@keyframes checked {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.i-radio {
  position: relative;
  cursor: pointer;
  user-select: none;
  &.i-radio-is-checked {
    .i-radio__input {
      border-color: var(--i-primary);
      &::after {
        transform: scale(1);
        animation: checked 0.2s cubic-bezier(0, 0, 0.15, 1);
      }
    }
  }
  &:hover {
    .i-radio__input {
      border-color: var(--i-primary);
    }
  }
  &:active {
    &.i-radio-is-checked {
      .i-radio__input {
        &::after {
          transform: scale(1.1);
        }
      }
    }
  }
  &.i-radio-is-disabled {
    cursor: not-allowed;
    .i-radio__input {
      background-color: var(--i-bg-disabled);
      &::after {
        background-color: var(--i-border-hover);
      }
    }
    &.i-radio-is-checked {
      .i-radio__input {
        border-color: var(--i-border);
      }
      &:hover {
        .i-radio__input {
          border-color: var(--i-border);
        }
      }
    }
    &:hover {
      .i-radio__input {
        border-color: var(--i-border);
      }
    }
  }
}

.i-radio__input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-color: var(--i-bg);
  border: 1px solid var(--i-border);
  border-radius: 50%;
  transition: border 0.2s cubic-bezier(0, 0, 0.15, 1);
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    background-color: var(--i-primary);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.2s cubic-bezier(0, 0, 0.15, 1);
    content: '';
  }
}

.i-radio__label {
  display: inline-block;
  margin-left: 8px;
  color: var(--i-font);
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
}

.i-radio-button {
  position: relative;
  padding: 4px 16px;
  color: var(--i-font);
  font-size: 14px;
  white-space: nowrap;
  border: 1px solid var(--i-border);
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s cubic-bezier(0, 0, 0.15, 1);
  user-select: none;
  &.i-radio-button-is-checked {
    color: var(--i-primary);
    border-color: var(--i-primary);
    &:active {
      color: var(--i-primary-active);
      border-color: var(--i-primary-active);
    }
  }
  &.i-radio-button--size-small {
    padding: 2px 8px;
    font-size: 12px;
  }
  &.i-radio-button--size-large {
    padding: 8px 24px;
    font-size: 16px;
  }
  &:hover {
    color: var(--i-primary-hover);
  }
  &:active {
    color: var(--i-primary);
  }
  &.i-radio-button-is-disabled {
    color: var(--i-font-disabled);
    background-color: var(--i-bg-disabled);
    border-color: var(--i-border) !important;
    cursor: not-allowed;
    &.i-radio-button-is-checked {
      color: var(--i-font-5);
      background-color: var(--i-bg-active);
      border-color: var(--i-border);
      &:hover {
        color: var(--i-font-5);
      }
    }
    &:hover {
      color: var(--i-font-disabled);
    }
    &:active {
      color: var(--i-font-disabled);
    }
  }
}

.i-radio__former,
.i-radio-button__former {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.i-radio-group {
  display: inline-flex;
  align-items: center;
  .i-radio {
    margin-right: 24px;
  }
  .i-radio-button {
    border-right: 0;
    border-radius: 0;
    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }
    &:last-of-type {
      border-right: 1px solid var(--i-border);
      border-radius: 0 4px 4px 0;
    }
    &.i-radio-button-is-checked {
      border-top-color: var(--i-primary);
      border-right: 1px solid;
      border-right-color: var(--i-primary);
      border-bottom-color: var(--i-primary);
      border-left-color: var(--i-primary);
      transition: border-color 0.2s cubic-bezier(0, 0, 0.15, 1);
      & + .i-radio-button {
        border-left: 0;
      }
    }
  }
}
