.i-table {
  width: 100%;
  color: var(--i-font-2);
  font-size: 14px;
}

.i-table-thead__wrapper,
.i-table-tbody__wrapper {
  display: table;
  width: 100%;
  min-width: 100%;
  margin: 0;
  table-layout: fixed;
  border-collapse: separate; // 合并相邻单元格边框
  border-spacing: 0;
}

.i-table-tbody__box {
  box-sizing: border-box;
  overflow: auto;
  overflow: overlay;
  border: 1px solid var(--i-border);
  border-radius: 0 0 8px 8px;
  &::-webkit-scrollbar-button {
    display: none;
  }
}

.i-table-thead {
  background: var(--i-bg-hover);
  .i-table-th {
    border-top: 1px solid var(--i-border);
    &:first-of-type {
      border-left: 1px solid var(--i-border);
      border-radius: 8px 0 0 0;
    }
    &:last-of-type {
      border-right: 1px solid var(--i-border);
      border-radius: 0 8px 0 0;
    }
  }
}

.i-table-th,
.i-table-td {
  box-sizing: border-box;
  padding: 9px 16px;
  text-align: left;
  border: unset;
  &:first-of-type {
    border-left: none;
  }
  &:last-of-type {
    border-right: none;
  }
}

.i-table-td {
  border-bottom: 1px solid var(--i-border);
}

.i-table-tbody {
  overflow: auto;
  overflow: overlay;
  background: var(--i-bg);
  .i-table-tr {
    background: unset;
    &:last-of-type {
      .i-table-td {
        border-bottom: none;
        &:first-of-type {
          border-radius: 0 0 0 8px;
        }
        &:last-of-type {
          border-radius: 0 0 8px 0;
        }
      }
    }
  }
  &.i-table-tbody__stripe {
    .i-table-tr:nth-of-type(even) {
      background: var(--i-bg-hover);
    }
  }
}
