.i-scrollbar {
  position: relative;
}

.i-scrollbar__wrap {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.i-scrollbar__bar {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  width: 6px;
  height: 100%;
}

.i-scrollbar__thumb {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 4px;
  transform: translateY(0%);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: rgba(144, 147, 153, 0.5);
  }
}
