$primary: #3a3cf5;
$primary_hover: #5d5ff3;
$primary_active: #2e31d5;
$primary_disabled: #9fa1fe;

a {
  text-decoration: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  * {
    cursor: default;
  }
}

.home-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 100px);
  padding: 100px 50px 0;
  .home-banner-left {
    padding-left: 200px;
    h1 {
      margin: 0;
      font-size: 80px;
    }
    p {
      margin: 36px 0;
      color: #555555;
      font-size: 30px;
    }
    .home-banner-btn-wrap {
      display: flex;
      align-items: center;
    }
    .home-banner-btn {
      width: fit-content;
      margin-right: 36px;
      padding: 16px 32px;
      color: #fff;
      font-size: 22px;
      white-space: nowrap;
      background: $primary;
      border-color: $primary;
      border-radius: 32px;
      box-shadow: 0 2px #0000000b;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      &:hover {
        background: $primary_hover;
        border-color: $primary_hover;
      }
      &:active {
        background: $primary_active;
        border-color: $primary_active;
      }
      &.trans {
        color: $primary;
        background: #fff;
        border: 1px solid $primary;
        &:hover {
          color: $primary_hover;
          border-color: $primary_hover;
        }
        &:active {
          color: $primary_active;
          border-color: $primary_active;
        }
      }
    }
  }
  .home-banner-right {
    padding-right: 200px;
    img {
      width: 600px;
    }
  }
}

.home-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: calc(100% - 200px);
  padding: 0 100px;
  .home-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    .home-content-item-title {
      height: 24px;
      margin: 20px 0 30px;
      color: rgba(0, 0, 0, 0.8);
      font-size: 24px;
    }
    .home-content-item-description {
      width: 50%;
      color: #697a8c;
      font-size: 18px;
      text-align: left;
    }
  }
}

.home-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 72px);
  height: 90px;
  margin-top: 100px;
  padding: 0 36px;
  background: #0b0d17;
  .home-footer-left {
    width: 500px;
    color: #d9dbe1;
  }
  .home-footer-center {
    display: flex;
    align-items: center;
    color: #fff;
    .home-footer-center-title {
      margin-left: 12px;
      font-weight: bold;
      font-size: 22px;
    }
    img {
      width: 28px;
    }
  }
  .home-footer-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 500px;
    color: #d9dbe1;
    .home-footer-right-email {
      color: #d9dbe1;
      cursor: pointer;
    }
    .home-footer-right-tip {
      position: absolute;
      opacity: 0;
      top: -42px;
      left: 340px;
      font-size: 14px;
      color: #333;
      padding: 6px 10px;
      border-radius: 8px;
      background: #f4f5f7;
      box-shadow: 0 0px 12px rgb(0 0 0 / 25%);
      &.-visible {
        opacity: 1;
      }
    }
  }
}
