a {
  text-decoration: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  * {
    cursor: default;
  }
}

.home-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  padding: 52px 0;
  .home-banner-left {
    margin-right: 200px;
    h1 {
      margin: 0;
      color: var(--i-font);
      font-size: 54px;
    }
    p {
      margin: 36px 0;
      color: var(--i-font-3);
      font-size: 26px;
    }
    .home-banner-btn-wrap {
      display: flex;
      align-items: center;
    }
    .home-banner-btn {
      width: fit-content;
      margin-right: 36px;
      padding: 16px 32px;
      color: #fff;
      font-size: 22px;
      white-space: nowrap;
      background: var(--i-primary);
      border-color: var(--i-primary);
      border-radius: 32px;
      box-shadow: 0 2px #0000000b;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      &:hover {
        background: var(--i-primary-hover);
        border-color: var(--i-primary-hover);
      }
      &:active {
        background: var(--i-primary-active);
        border-color: var(--i-primary-active);
      }
      &.trans {
        color: var(--i-primary-txt);
        background: var(--i-bg);
        border: 1px solid var(--i-primary-txt);
        &:hover {
          color: var(--i-primary-hover);
          border-color: var(--i-primary-hover);
        }
        &:active {
          color: var(--i-primary-active);
          border-color: var(--i-primary-active);
        }
      }
    }
  }
}

.home-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: calc(100% - 200px);
  padding: 0 100px;
  .home-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    .home-content-item-title {
      height: 24px;
      margin: 20px 0 30px;
      color: var(--i-font-2);
      font-size: 20px;
    }
    .home-content-item-description {
      width: 50%;
      color: var(--i-font-3);
      font-size: 14px;
      text-align: left;
    }
  }
}

.home-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 72px);
  height: 90px;
  margin-top: 100px;
  padding: 0 36px;
  background: #0b0d17;
  .home-footer-left {
    width: 500px;
    color: #d9dbe1;
  }
  .home-footer-center {
    display: flex;
    align-items: center;
    color: #fff;
    .home-footer-center-title {
      margin-left: 12px;
      font-weight: bold;
      font-size: 22px;
    }
    img {
      width: 28px;
    }
  }
  .home-footer-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 500px;
    color: #d9dbe1;
    .home-footer-right-email {
      color: #d9dbe1;
      cursor: pointer;
    }
    .home-footer-right-tip {
      position: absolute;
      top: -42px;
      left: 340px;
      padding: 6px 10px;
      color: #333;
      font-size: 14px;
      background: #f4f5f7;
      border-radius: 10px;
      box-shadow: 0 0px 12px rgb(0 0 0 / 25%);
      opacity: 0;
      &.-visible {
        opacity: 1;
      }
    }
  }
}

.home-web {
  width: 800px;
  height: 400px;
  overflow: hidden;
  font-size: 12px;
  border: 1px solid var(--i-border);
  border-radius: 16px;
  .i-layout--header {
    .i-menu {
      box-sizing: border-box;
      border-bottom: 1px solid var(--i-border);
    }
  }
  .i-layout--aside {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    overflow: overlay;
    border-right: 1px solid var(--i-border);
  }
  .i-menu {
    height: 40px;
    font-size: 12px;
  }
  .i-menu-item {
    min-width: 50px;
    height: 24px;
  }
  .i-collapse,
  .i-radio__label {
    font-size: 12px;
  }
  .i-radio__input {
    width: 12px;
    height: 12px;
    &::after {
      width: 6px;
      height: 6px;
      margin-top: -3px;
      margin-left: -3px;
    }
  }
  .i-checkbox-group .i-checkbox,
  .i-radio-group .i-radio {
    margin-right: 12px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .i-collapse-item__header {
    height: 24px;
    .i-icon {
      font-size: 12px;
    }
  }
  .i-menu__logo {
    height: 24px;
  }
}

.home-web-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  .i-input {
    width: 200px;
  }
}

.home-web-header-dots {
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
}

.home-web-header-dot {
  width: 10px;
  height: 10px;
  margin-right: 4px;
  border-radius: 50%;
  &:nth-of-type(1) {
    background: #ec5952;
  }
  &:nth-of-type(2) {
    background: #f4ba57;
  }
  &:nth-of-type(3) {
    background: #59c155;
  }
}

.home-web-breadcrumb {
  padding: 12px;
  font-size: 12px;
  .i-icon {
    font-size: 12px !important;
  }
}

.home-web-layout-content-wrapper {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  overflow: overlay;
  border-radius: 0 0 10px 0;
}

.home-web-block-item {
  display: flex;
  margin-bottom: 12px;
  padding: 0 12px;
}

.home-web-block {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 12px;
  border: 1px solid var(--i-border);
  border-radius: 10px;
  transition: all 0.2s ease-out;
  &:last-of-type {
    margin-right: 0;
  }
  &.-demo1 {
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
  }
  &.-demo2 {
    gap: 10px;
    padding: 10px;
  }
  &.-demo3 {
    .i-color-picker {
      margin: 0 6px;
    }
  }
  &.-demo4 {
    padding: 12px;
    .i-rate {
      margin-right: 12px;
    }
    .i-progress {
      margin-right: 12px;
      margin-bottom: 12px;
      &:nth-of-type(5) {
        width: 100%;
      }
    }
  }
  &.-demo5 {
    padding: 12px;
  }
}

.home-web-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  color: var(--i-font);
  background-color: var(--i-bg);
  border-top: 1px solid var(--i-border);
  border-radius: 0 0 10px 0;
}
