// 通用模块
.__dumi-default-layout[data-route='\/'] {
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}

.__dumi-default-navbar {
  padding: 0 36px !important;
}

.__dumi-default-search-input {
  width: 220px;
  height: 36px;
  border-radius: 16px;
  &:hover {
    box-shadow: 0 0 0 1px var(--i-primary-hover) inset !important;
  }
  &:focus {
    box-shadow: 0 0 0 1px var(--i-primary) inset !important;
  }
}

.__dumi-default-search > ul li a:hover {
  color: var(--i-primary-txt) !important;
}

.__dumi-default-navbar-logo {
  font-weight: bold !important;
}

.__dumi-default-layout-footer-meta {
  display: none;
}

.__dumi-default-navbar-tool {
  .__dumi-default-dark-auto {
    display: none;
  }
}

.__dumi-default-navbar nav > span > a {
  font-size: 14.4px;
}

.__dumi-default-navbar nav > span > a:hover,
.__dumi-default-navbar nav > span > a.active {
  color: var(--i-primary-txt) !important;
  &::after {
    background-color: var(--i-primary-txt) !important;
  }
}

// 组件展示页模块
.__dumi-default-menu[data-mode='site'] {
  padding-top: 0px !important;
}

.__dumi-default-menu-list {
  padding-top: 12px !important;
}

.__dumi-default-menu-list > li > a {
  padding-left: 36px !important;
}

.__dumi-default-menu,
.__dumi-default-menu-inner {
  overflow: overlay !important;
  background-color: transparent !important;
}

.__dumi-default-menu::after {
  background: var(--i-border) !important;
}

.__dumi-default-menu-inner > ul > li > a:not([href]) {
  padding-top: 20px !important;
  line-height: 1.7;
}

.__dumi-default-menu-inner .__dumi-default-menu-list > li > a ~ ul {
  margin-left: 0 !important;
}

.__dumi-default-menu-inner ul li ul {
  padding-left: 0 !important;
}

.__dumi-default-menu-list > li > a.active,
.__dumi-default-menu-inner > ul ul a {
  height: 36px;
  margin: 0 20px;
  margin-top: 6px;
  padding: 0px 18px;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  border-radius: 10px;
  transition: all 0.1s linear 0s;
  &::after {
    display: none;
  }
  &:hover {
    color: var(--i-font) !important;
    background: var(--i-bg-hover) !important;
  }
  &.active {
    color: var(--i-primary-txt) !important;
    background: var(--i-primary-bg) !important;
  }
}

// 文档页模块
.__dumi-default-layout-content {
  .markdown {
    a {
      color: var(--i-primary-txt);
    }
  }
}

.markdown {
  color: var(--i-font);
  p {
    color: inherit;
  }
  h2 {
    font-size: 20px;
  }
  code {
    color: var(--i-success) !important;
  }
  table {
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px var(--i-border);
    thead {
      border: 2px solid var(--i-border);
      border-bottom: 0;
    }
    th {
      text-align: left;
      &:first-of-type {
        border-radius: 12px 0 0 0;
      }
      &:last-of-type {
        border-radius: 0 12px 0 0;
      }
    }
  }
}

.prism-code {
  padding: 20px 24px;
}

.__dumi-default-layout[data-route='/'] {
  padding: 0 !important;
}

.__dumi-default-layout-footer-meta {
  display: none !important;
}

.__dumi-default-layout[data-site-mode='true'][data-show-slugs='true'] {
  padding-right: 360px !important;
}

.__dumi-default-layout-toc {
  width: 290px !important;
  overflow: overlay !important;
}

.__dumi-default-layout-toc li {
  display: flex;
  padding: 0;
}

.__dumi-default-layout-toc li a {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-bottom: 4px;
  margin-left: 24px;
  padding: 8px 2px;
  font-size: 14.4px;
  border-radius: 10px;
  transition: all 0.1s ease-out;
  &:hover {
    background: var(--i-bg-hover);
  }
}

.__dumi-default-layout-toc li a:hover,
ul[role='slug-list'] li > a.active {
  color: var(--i-primary-txt) !important;
}

.__dumi-default-layout-toc li a::before {
  width: 1px !important;
  background: var(--i-border) !important;
}

.__dumi-default-layout-toc li a.active::before {
  background: var(--i-primary-txt) !important;
}

// 代码块模块
.__dumi-default-layout[data-route='\/guide'] {
  .prism-code {
    border-radius: 10px !important;
  }
}

.__dumi-default-layout[data-route*='\/components'] {
  .prism-code {
    border-radius: 0 0 10px 10px !important;
  }
}

.__dumi-default-previewer {
  border-color: var(--i-border) !important;
  border-radius: 10px !important;
}

.__dumi-default-previewer-source-wrapper {
  overflow: hidden;
  border-radius: 0 0 8px 8px !important;
}

.__dumi-default-previewer {
  &[id*='Menu'] {
    .__dumi-default-previewer-demo {
      background: var(--i-bg-hover);
    }
  }
}

.__dumi-default-previewer-demo {
  padding: 24px !important;
  color: var(--i-font-2);
  border-radius: 10px 10px 0px 0px !important;
  h3,
  h4 {
    color: var(--i-font-3);
    font-weight: 700;
  }
}

.idesign-demo-itemy {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 50px;
  color: var(--i-primary-txt);
  background: var(--i-primary-bg);
  border-radius: 4px;
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.idesign-demo-itemx-wrap {
  display: flex;
  align-items: center;
  width: fit-content;
}

.idesign-demo-itemx {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  color: var(--i-success-txt);
  background: var(--i-success-bg);
  border-radius: 4px;
  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.idesign-demo-block-column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
}

.idesign-demo-block-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
  .i-select {
    width: 200px;
  }
}

.idesign-demo-block-popup {
  position: relative;
  width: 560px;
  height: 260px;
  margin: 0 auto;
  .i-button {
    position: absolute;
    width: 100px;
  }
  .Top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .TopLeft {
    top: 0;
    left: 100px;
  }
  .TopRight {
    top: 0;
    right: 100px;
  }
  .Bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .BottomLeft {
    bottom: 0;
    left: 100px;
  }
  .BottomRight {
    right: 100px;
    bottom: 0;
  }
  .Left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .LeftTop {
    top: 55px;
    left: 0;
  }
  .LeftBottom {
    bottom: 55px;
    left: 0;
  }
  .Right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .RightTop {
    top: 55px;
    right: 0;
  }
  .RightBottom {
    right: 0;
    bottom: 55px;
  }
}

.i-design-demo-icon-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  color: var(--i-font-3);
  border: 1px solid var(--i-border);
  border-radius: 10px;
  text-size-adjust: 100%;
}

.i-design-demo-icon-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 125px;
  color: var(--i-font-2);
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
  text-size-adjust: 100%;
  &:hover {
    background: var(--i-bg-hover);
  }
  &::after {
    position: absolute;
    top: 4px;
    color: var(--i-font-3);
    font-size: 14px;
    opacity: 0;
    transition: all 0.1s ease-out;
    content: '已复制组件';
  }
  &.-copyed {
    &::after {
      opacity: 1;
    }
  }
}

.__dumi-default-layout[data-route='\/components\/grid'] {
  .__dumi-default-previewer-demo {
    .i-grid {
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .i-grid__item {
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        color: #fff;
        background: var(--i-primary);
      }
      &:nth-of-type(2n) {
        & > div {
          background: var(--i-primary-disabled);
        }
      }
    }
  }
}

.__dumi-default-layout[data-route='\/components\/layout'] {
  .__dumi-default-previewer-demo {
    .i-layout--header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      background: var(--i-primary-disabled);
    }
    .i-layout--aside {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 16px;
      text-align: center;
      background: var(--i-primary);
    }
    .i-layout--content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      background: var(--i-primary-hover);
    }
    .i-layout--footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 46px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      background: var(--i-primary-disabled);
    }
  }
}

.__dumi-default-layout[data-route='\/components\/input'] {
  .__dumi-default-previewer-demo {
    .i-input,
    .i-input__group {
      max-width: 500px !important;
    }
    .i-input__group {
      .i-input {
        max-width: 100% !important;
      }
    }
  }
}

.__dumi-default-previewer-actions {
  position: relative;
  border-top: 1px solid var(--i-border) !important;
}

.__dumi-default-previewer-actions button {
  position: relative;
  opacity: 1;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 26px;
    height: 26px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s ease-out;
    content: '';
  }
  &::after {
    z-index: 1;
  }
  &:hover {
    opacity: 1;
    &::before {
      opacity: 1;
    }
  }
}

.__dumi-default-previewer-actions > a:not(:last-child),
.__dumi-default-previewer-actions > button:not(:last-child) {
  margin-right: 20px !important;
}

.__dumi-default-previewer-actions a,
.__dumi-default-icon[title='Get JSX via TypeScript Playground'] {
  display: none;
}

.__dumi-default-previewer-actions button[role='codesandbox'] {
  position: absolute;
  right: 70px;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  line-height: 24px;
  text-shadow: none !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none !important;
}

$white: #bbc3d2;
$sfgrey: #bbbbbb;
$grey: #818a9b;
$yellow: #edc67e;
$green: #98c379;
$greblue: #54c4b9;
$blue: #61afef;
$red: #e06c75;
$orange: #d19a66;
$purple: #bd93f9;

.__dumi-default-code-block > pre[class*='language-'] {
  background: #282c34 !important;
}

code[class*='language-'],
pre[class*='language-'] {
  color: $white !important;
}

.language-ts {
  .token-line {
    .token {
      &.maybe-class-name {
        color: $blue !important;
      }
    }
  }
}

.token-line {
  .token {
    // js
    &.imports {
      color: $white !important;
    }
    &.string {
      color: $yellow !important;
    }
    &.boolean {
      color: $greblue !important;
    }
    &.keyword {
      color: $greblue !important;
      font-style: italic !important;
      &.control-flow {
        color: $red !important;
      }
      &.module {
        color: $red !important;
      }
    }
    &.exports {
      color: $white !important;
      &.operator {
        color: $greblue !important;
      }
    }
    &.imports {
      color: $white !important;
      &.operator {
        color: $greblue !important;
      }
    }
    &.function {
      color: $green !important;
    }
    &.function-variable {
      &.function {
        &.maybe-class-name {
          color: $green !important;
        }
      }
    }
    &.method.function.property-access {
      color: $green !important;
    }
    &.punctuation {
      color: $yellow !important;
    }
    &.parameter {
      color: $orange !important;
      &.punctuation {
        color: $white !important;
      }
    }
    &,
    &.parameter,
    &.spread {
      &.operator {
        color: $red !important;
      }
    }
    &.plain {
      color: $white !important;
    }
    &.comment {
      color: $grey !important;
      font-style: unset !important;
    }
    &.number {
      color: $purple !important;
    }
    &.dom.variable {
      color: $purple !important;
      font-style: italic !important;
    }
    &.constant {
      color: $purple !important;
    }
    &.property-access {
      color: $greblue !important;
    }
    &.known-class-name.class-name {
      color: $greblue !important;
    }
    &.console.class-name {
      color: $blue !important;
    }
    &.class-name {
      color: $blue !important;
    }
    &.regex {
      &.regex-delimiter {
        color: $yellow !important;
      }
      &.regex-source.language-regex {
        color: $greblue !important;
      }
      &.regex-flags {
        color: $red !important;
      }
    }
    &.maybe-class-name {
      // color: $blue !important;
      color: $white !important;
    }
    &.template-string {
      &.string {
        color: $yellow !important;
      }
      &.interpolation {
        color: $blue !important;
        &.operator,
        &.punctuation {
          color: $red !important;
        }
        &.interpolation-punctuation.punctuation {
          color: $purple !important;
        }
        &.function {
          color: $green !important;
        }
        &.regex {
          &.regex-delimiter {
            color: $yellow !important;
          }
          &.regex-flags {
            color: $red !important;
          }
        }
      }
    }
    &.script {
      &.language-javascript {
        color: $blue !important;
      }
    }

    // python
    &.builtin {
      color: $blue !important;
    }

    // html
    &.tag {
      color: $red !important;
      &.punctuation {
        color: $sfgrey !important;
      }
      &.attr-name {
        color: $green !important;
      }
      &.class-name {
        color: $blue !important;
      }
      &.spread {
        &.punctuation {
          color: $purple !important;
        }
        &.attr-value {
          color: $orange !important;
        }
      }
      &.attr-value {
        color: $yellow !important;
        &.punctuation {
          color: $yellow !important;
          &.attr-equals {
            color: $red !important;
          }
        }
      }
      &.script.language-javascript {
        color: $white !important;
        &.operator,
        &.script-punctuation.punctuation {
          color: $red !important;
        }
        &.punctuation {
          color: $purple !important;
        }
        &.function {
          color: $blue !important;
        }
        &.boolean {
          color: $blue !important;
        }
        &.keyword {
          color: $greblue !important;
        }
        &.parameter {
          color: $orange !important;
        }
        &.string {
          color: $yellow !important;
        }
        &.tag {
          &.class-name {
            color: $blue !important;
          }
        }
      }
    }
    &.entity.named-entity {
      color: $greblue !important;
    }
    &.style.language-css {
      color: $blue !important;
      &.atrule {
        &.rule {
          color: $red !important;
        }
        &.url {
          color: $orange !important;
          &.function {
            color: $green !important;
          }
        }
      }
    }
    &.doctype {
      font-style: unset !important;
      &.punctuation {
        color: $white !important;
      }
      &.doctype-tag {
        color: $red !important;
      }
      &.name {
        color: $greblue !important;
      }
    }

    // xml
    &.prolog {
      color: $purple !important;
      font-style: italic !important;
    }

    // css
    &.selector {
      color: $green !important;
      &.parent.important {
        color: $red !important;
      }
    }
    &.property {
      color: $greblue !important;
    }
    &.unit {
      color: $red !important;
    }
    &.important {
      color: $red !important;
    }
    &.hexcode.color {
      color: $purple !important;
    }
    &.color {
      color: $purple !important;
    }
    &.atrule {
      color: $red !important;
      &.rule {
        color: $purple !important;
      }
      &.keyword {
        color: $blue !important;
      }
      &.punctuation {
        color: $orange !important;
      }
      &.property {
        color: $greblue !important;
      }
      &.number {
        color: $purple !important;
      }
      &.unit {
        color: $red !important;
      }
    }

    // diff
    &.unchanged.line {
      color: $white !important;
    }
    &.inserted-sign {
      &.inserted {
        &.line,
        &.prefix.inserted {
          color: $green !important;
        }
        &.prefix.inserted {
          user-select: none !important;
        }
      }
    }
    &.deleted-sign.deleted {
      &.line,
      &.prefix.deleted {
        color: $red !important;
      }
      &.prefix.deleted {
        user-select: none !important;
      }
    }
  }
}
