// 全局色模块
$theme_color: #3a3cf5;
$theme_color2: #3998ff;

// 通用模块
.__dumi-default-layout[data-route='\/'] {
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}

.__dumi-default-navbar {
  padding: 0 36px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}

.__dumi-default-search-input {
  width: 220px;
  height: 36px;
  border-radius: 10px;
}

.__dumi-default-navbar-logo {
  font-weight: bold;
}

.__dumi-default-layout-hero {
  display: none;
}

.__dumi-default-layout-content {
  margin: 0 !important;
}

.__dumi-default-layout-footer-meta {
  display: none;
}

.__dumi-default-navbar-tool {
  display: none;
}

.__dumi-default-navbar nav > span > a {
  font-size: 16px;
}

.__dumi-default-navbar nav > span > a:hover,
.__dumi-default-navbar nav > span > a.active {
  color: $theme_color;
  &::after {
    background-color: $theme_color;
  }
}

.__dumi-default-search > ul li a:hover {
  color: $theme_color;
}

// 组件展示页模块
.__dumi-default-menu-list > li > a {
  padding-left: 36px !important;
}

.__dumi-default-menu-inner > ul > li > a:not([href]) {
  color: #303133 !important;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
}

.__dumi-default-menu-inner .__dumi-default-menu-list > li > a ~ ul {
  margin-left: 0 !important;
}

.__dumi-default-menu-inner ul li ul {
  padding-left: 0;
}

.__dumi-default-menu-list > li > a.active,
.__dumi-default-menu-inner > ul ul a {
  height: 40px;
  margin: 0 24px;
  margin-top: 6px;
  padding: 0px 24px !important;
  overflow: hidden;
  color: #606266;
  font-size: 16px;
  line-height: 40px;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  border-radius: 10px;
  transition: all 0.1s linear 0s;
  &::after {
    display: none !important;
  }
  &:hover {
    color: #38393b;
    background: #f6f6f6 !important;
  }
  &.active {
    color: $theme_color;
    background: rgba(58, 60, 245, 0.06) !important;
  }
}

// 文档页模块
.__dumi-default-layout-content {
  .markdown {
    a {
      color: $theme_color;
    }
  }
}

.markdown {
  font-size: 18px;
  h1,
  h2 {
    color: #515151;
    font-weight: 700;
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    color: #304455;
  }
  code {
    color: $theme_color2 !important;
  }
  table {
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px #ebedf1;
  }
  table thead {
    border: 2px solid #ebedf1;
    border-bottom: 0;
  }
  table th {
    text-align: left;
    &:first-of-type {
      border-radius: 12px 0 0 0;
    }
    &:last-of-type {
      border-radius: 0 12px 0 0;
    }
  }
  h1:hover > a[aria-hidden]::after,
  h2:hover > a[aria-hidden]::after,
  h3:hover > a[aria-hidden]::after,
  h4:hover > a[aria-hidden]::after,
  h5:hover > a[aria-hidden]::after,
  h6:hover > a[aria-hidden]::after {
    display: none;
  }
}

.__dumi-default-layout[data-site-mode='true'][data-show-slugs='true'] {
  padding-right: 360px;
}

.__dumi-default-layout-toc {
  width: 290px;
}

.__dumi-default-layout-toc li {
  display: flex;
  padding: 0;
}

.__dumi-default-layout-toc li a {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-bottom: 6px;
  margin-left: 24px !important;
  padding: 10px 2px;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.1s ease-out;
  &:hover {
    background: #f6f6f6;
  }
}

.__dumi-default-layout-toc li a:hover,
ul[role='slug-list'] li > a.active {
  color: $theme_color;
}

.__dumi-default-layout-toc li a::before {
  width: 1px;
}

.__dumi-default-layout-toc li a.active::before {
  background: $theme_color;
}

// 代码块模块
.__dumi-default-layout[data-route='\/guide'] {
  .prism-code {
    border-radius: 10px;
  }
}

.__dumi-default-layout[data-route*='\/components'] {
  .prism-code {
    border-radius: 0 0 10px 10px;
  }
}

.__dumi-default-previewer {
  border-radius: 10px;
}

.__dumi-default-previewer-source-wrapper {
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}

.__dumi-default-previewer-demo {
  padding: 40px;
}

.idesign-demo-block-column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
}

.idesign-demo-block-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
}

.i-design-demo-icon-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  color: #303133;
  border: 1px solid #ebedf1;
  border-radius: 10px;
  text-size-adjust: 100%;
}

.i-design-demo-icon-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 125px;
  color: #606266;
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
  text-size-adjust: 100%;
  &:hover {
    background: #f2f2f2;
  }
  &::after {
    position: absolute;
    top: 4px;
    color: #999ba2;
    font-size: 14px;
    opacity: 0;
    transition: all 0.1s ease-out;
    content: '已复制组件';
  }
  &.-copyed {
    &::after {
      opacity: 1;
    }
  }
}

.prism-code {
  padding: 20px 24px !important;
}

.__dumi-default-previewer-actions {
  background-color: rgba(58, 60, 245, 0.01);
}

.__dumi-default-previewer-actions button {
  transform: scale(1.2);
}

.__dumi-default-previewer-actions > a:not(:last-child),
.__dumi-default-previewer-actions > button:not(:last-child) {
  margin-right: 16px;
}

.__dumi-default-previewer-actions a,
.__dumi-default-icon[title='Get JSX via TypeScript Playground'],
.__dumi-default-icon[title='Open demo on CodeSandbox.io'] {
  display: none;
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 18px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace !important;
  line-height: 28px;
  text-shadow: none;
}

.__dumi-default-previewer-demo {
  .i-layout--header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #9dbbf3;
  }
  .i-layout--aside {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #5886e9;
  }
  .i-layout--content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #759eee;
  }
  .i-layout--footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #9dbbf3;
  }
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none;
}

$white: #bbc3d2;
$sfgrey: #bbbbbb;
$grey: #818a9b;
$yellow: #edc67e;
$green: #98c379;
$greblue: #54c4b9;
$blue: #61afef;
$red: #e06c75;
$orange: #d19a66;
$purple: #bd93f9;

.__dumi-default-code-block > pre[class*='language-'] {
  background: #282c34;
}

.language-ts {
  .token-line {
    .token {
      &.maybe-class-name {
        color: $blue !important;
      }
    }
  }
}

.token-line {
  .token {
    // js
    &.imports {
      color: $white !important;
    }
    &.string {
      color: $yellow !important;
    }
    &.boolean {
      color: $greblue !important;
    }
    &.keyword {
      color: $greblue !important;
      font-style: italic !important;
      &.control-flow {
        color: $red !important;
      }
      &.module {
        color: $red !important;
      }
    }
    &.exports {
      color: $white !important;
      &.operator {
        color: $greblue !important;
      }
    }
    &.imports {
      color: $white !important;
      &.operator {
        color: $greblue !important;
      }
    }
    &.function {
      color: $green !important;
    }
    &.function-variable {
      &.function {
        &.maybe-class-name {
          color: $green !important;
        }
      }
    }
    &.method.function.property-access {
      color: $green !important;
    }
    &.punctuation {
      color: $yellow !important;
    }
    &.parameter {
      color: $orange !important;
      &.punctuation {
        color: $white !important;
      }
    }
    &,
    &.parameter,
    &.spread {
      &.operator {
        color: $red !important;
      }
    }
    &.plain {
      color: $white !important;
    }
    &.comment {
      color: $grey !important;
      font-style: unset !important;
    }
    &.number {
      color: $purple !important;
    }
    &.dom.variable {
      color: $purple !important;
      font-style: italic !important;
    }
    &.constant {
      color: $purple !important;
    }
    &.property-access {
      color: $greblue !important;
    }
    &.known-class-name.class-name {
      color: $greblue !important;
    }
    &.console.class-name {
      color: $blue !important;
    }
    &.class-name {
      color: $blue !important;
    }
    &.regex {
      &.regex-delimiter {
        color: $yellow !important;
      }
      &.regex-source.language-regex {
        color: $greblue !important;
      }
      &.regex-flags {
        color: $red !important;
      }
    }
    &.maybe-class-name {
      // color: $blue !important;
      color: $white !important;
    }
    &.template-string {
      &.string {
        color: $yellow !important;
      }
      &.interpolation {
        color: $blue !important;
        &.operator,
        &.punctuation {
          color: $red !important;
        }
        &.interpolation-punctuation.punctuation {
          color: $purple !important;
        }
        &.function {
          color: $green !important;
        }
        &.regex {
          &.regex-delimiter {
            color: $yellow !important;
          }
          &.regex-flags {
            color: $red !important;
          }
        }
      }
    }
    &.script {
      &.language-javascript {
        color: $blue;
      }
    }

    // python
    &.builtin {
      color: $blue !important;
    }

    // html
    &.tag {
      color: $red !important;
      &.punctuation {
        color: $sfgrey !important;
      }
      &.attr-name {
        color: $green !important;
      }
      &.class-name {
        color: $blue !important;
      }
      &.spread {
        &.punctuation {
          color: $purple !important;
        }
        &.attr-value {
          color: $orange !important;
        }
      }
      &.attr-value {
        color: $yellow !important;
        &.punctuation {
          color: $yellow !important;
          &.attr-equals {
            color: $red !important;
          }
        }
      }
      &.script.language-javascript {
        color: $white !important;
        &.operator,
        &.script-punctuation.punctuation {
          color: $red !important;
        }
        &.punctuation {
          color: $purple !important;
        }
        &.function {
          color: $blue !important;
        }
        &.keyword {
          color: $greblue !important;
        }
        &.parameter {
          color: $orange !important;
        }
        &.string {
          color: $yellow !important;
        }
        &.tag {
          &.class-name {
            color: $blue !important;
          }
        }
      }
    }
    &.entity.named-entity {
      color: $greblue !important;
    }
    &.style.language-css {
      color: $blue;
      &.atrule {
        &.rule {
          color: $red !important;
        }
        &.url {
          color: $orange !important;
          &.function {
            color: $green !important;
          }
        }
      }
    }
    &.doctype {
      font-style: unset !important;
      &.punctuation {
        color: $white !important;
      }
      &.doctype-tag {
        color: $red !important;
      }
      &.name {
        color: $greblue !important;
      }
    }

    // xml
    &.prolog {
      color: $purple !important;
      font-style: italic !important;
    }

    // css
    &.selector {
      color: $green !important;
      &.parent.important {
        color: $red !important;
      }
    }
    &.property {
      color: $greblue !important;
    }
    &.unit {
      color: $red !important;
    }
    &.important {
      color: $red !important;
    }
    &.hexcode.color {
      color: $purple !important;
    }
    &.color {
      color: $purple !important;
    }
    &.atrule {
      color: $red !important;
      &.rule {
        color: $purple !important;
      }
      &.keyword {
        color: $blue !important;
      }
      &.punctuation {
        color: $orange !important;
      }
      &.property {
        color: $greblue !important;
      }
      &.number {
        color: $purple !important;
      }
      &.unit {
        color: $red !important;
      }
    }

    // diff
    &.unchanged.line {
      color: $white !important;
    }
    &.inserted-sign {
      &.inserted {
        &.line,
        &.prefix.inserted {
          color: $green !important;
        }
        &.prefix.inserted {
          user-select: none;
        }
      }
    }
    &.deleted-sign.deleted {
      &.line,
      &.prefix.deleted {
        color: $red !important;
      }
      &.prefix.deleted {
        user-select: none;
      }
    }
  }
}
