// 全局色模块
$theme_color: #3a3cf5;
$theme_color2: #3998ff;

// 通用模块
.__dumi-default-layout[data-route='\/'] {
  padding: 0 !important;
  overflow-x: hidden !important;
  user-select: none !important;
}

.__dumi-default-navbar {
  padding: 0 36px !important;
  background: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(8px) !important;
}

.__dumi-default-search-input {
  width: 220px !important;
  height: 36px !important;
  border-radius: 10px !important;
}

.__dumi-default-navbar-logo {
  font-weight: bold !important;
}

.__dumi-default-layout-hero {
  display: none !important;
}

.__dumi-default-layout-content {
  margin: 0 !important;
}

.__dumi-default-layout-footer-meta {
  display: none !important;
}

.__dumi-default-navbar-tool {
  .__dumi-default-dark-auto {
    display: none !important;
  }
}

.__dumi-default-navbar nav > span > a {
  font-size: 16px !important;
}

.__dumi-default-navbar nav > span > a:hover,
.__dumi-default-navbar nav > span > a.active {
  color: $theme_color !important;
  &::after {
    background-color: $theme_color !important;
  }
}

.__dumi-default-search > ul li a:hover {
  color: $theme_color !important;
}

// 组件展示页模块
.__dumi-default-menu[data-mode='site'] {
  padding-top: 36px !important;
}

.__dumi-default-menu-list > li > a {
  padding-left: 36px !important;
}

.__dumi-default-menu-inner > ul > li > a:not([href]) {
  padding-top: 20px !important;
  color: #303133 !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 1.7 !important;
}

.__dumi-default-menu-inner .__dumi-default-menu-list > li > a ~ ul {
  margin-left: 0 !important;
}

.__dumi-default-menu-inner ul li ul {
  padding-left: 0 !important;
}

.__dumi-default-menu-list > li > a.active,
.__dumi-default-menu-inner > ul ul a {
  height: 40px !important;
  margin: 0 24px !important;
  margin-top: 6px !important;
  padding: 0px 24px !important;
  overflow: hidden !important;
  color: #606266 !important;
  font-size: 16px !important;
  line-height: 40px !important;
  white-space: nowrap !important;
  text-decoration: none !important;
  text-overflow: ellipsis !important;
  border-radius: 10px !important;
  transition: all 0.1s linear 0s !important;
  &::after {
    display: none !important;
  }
  &:hover {
    color: #38393b !important;
    background: #f6f6f6 !important;
  }
  &.active {
    color: $theme_color !important;
    background: rgba(58, 60, 245, 0.06) !important;
  }
}

// 文档页模块
.__dumi-default-layout-content {
  .markdown {
    a {
      color: $theme_color !important;
    }
  }
}

.markdown {
  font-size: 18px !important;
  h1,
  h2 {
    color: #515151;
    font-weight: 700 !important;
    font-size: 32px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  p {
    color: #304455 !important;
  }
  code {
    color: $theme_color2 !important;
  }
  table {
    box-sizing: border-box !important;
    overflow: hidden !important;
    border: 1px solid transparent !important;
    border-radius: 10px !important;
    box-shadow: inset 0 0 0 1px #ebedf1 !important;
  }
  table thead {
    border: 2px solid #ebedf1 !important;
    border-bottom: 0 !important;
  }
  table th {
    text-align: left !important;
    &:first-of-type {
      border-radius: 12px 0 0 0 !important;
    }
    &:last-of-type {
      border-radius: 0 12px 0 0 !important;
    }
  }
  h1:hover > a[aria-hidden]::after,
  h2:hover > a[aria-hidden]::after,
  h3:hover > a[aria-hidden]::after,
  h4:hover > a[aria-hidden]::after,
  h5:hover > a[aria-hidden]::after,
  h6:hover > a[aria-hidden]::after {
    display: none !important;
  }
}

.__dumi-default-layout[data-site-mode='true'][data-show-slugs='true'] {
  padding-right: 360px !important;
}

.__dumi-default-layout-toc {
  width: 290px !important;
}

.__dumi-default-layout-toc li {
  display: flex !important;
  padding: 0 !important;
}

.__dumi-default-layout-toc li a {
  box-sizing: border-box !important;
  width: 100% !important;
  height: auto !important;
  margin-bottom: 6px !important;
  margin-left: 24px !important;
  padding: 10px 2px !important;
  font-size: 16px !important;
  border-radius: 10px !important;
  transition: all 0.1s ease-out !important;
  &:hover {
    background: #f6f6f6 !important;
  }
}

.__dumi-default-layout-toc li a:hover,
ul[role='slug-list'] li > a.active {
  color: $theme_color !important;
}

.__dumi-default-layout-toc li a::before {
  width: 1px !important;
}

.__dumi-default-layout-toc li a.active::before {
  background: $theme_color !important;
}

// 代码块模块
.__dumi-default-layout[data-route='\/guide'] {
  .prism-code {
    border-radius: 10px !important;
  }
}

.__dumi-default-layout[data-route*='\/components'] {
  .prism-code {
    border-radius: 0 0 10px 10px !important;
  }
}

.__dumi-default-previewer {
  border-radius: 10px !important;
}

.__dumi-default-previewer-source-wrapper {
  overflow: hidden !important;
  border-radius: 0 0 8px 8px !important;
}

.__dumi-default-previewer-demo {
  padding: 40px !important;
  background: #F7F8FC;
  h3,
  h4 {
    color: #515151;
    font-weight: 700 !important;
  }
}

.idesign-demo-itemy {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box !important;
  height: 50px !important;
  color: #409eff !important;
  background: #ecf5ff !important;
  border-radius: 4px !important;
  &:not(:last-of-type) {
    margin-bottom: 10px !important;
  }
}

.idesign-demo-itemx-wrap {
  display: flex !important;
  align-items: center !important;
  width: fit-content !important;
}

.idesign-demo-itemx {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box !important;
  width: 100px !important;
  height: 50px !important;
  color: #f56c6c !important;
  background: #fef0f0 !important;
  border-radius: 4px !important;
  &:not(:last-of-type) {
    margin-right: 10px !important;
  }
}

.idesign-demo-block-column {
  display: flex !important;
  flex-direction: column !important;
  box-sizing: border-box !important;
  column-gap: 16px !important;
  row-gap: 16px !important;
}

.idesign-demo-block-row {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  box-sizing: border-box !important;
  column-gap: 16px !important;
  row-gap: 16px !important;
  .i-select {
    width: 200px;
  }
}

.idesign-demo-block-popup {
  position: relative !important;
  width: 560px !important;
  height: 260px !important;
  margin: 0 auto !important;
  .i-button {
    position: absolute !important;
    width: 100px !important;
  }
  .Top {
    top: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  .TopLeft {
    top: 0 !important;
    left: 100px !important;
  }
  .TopRight {
    top: 0 !important;
    right: 100px !important;
  }
  .Bottom {
    bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  .BottomLeft {
    bottom: 0 !important;
    left: 100px !important;
  }
  .BottomRight {
    right: 100px !important;
    bottom: 0 !important;
  }
  .Left {
    top: 50% !important;
    left: 0 !important;
    transform: translateY(-50%) !important;
  }
  .LeftTop {
    top: 55px !important;
    left: 0 !important;
  }
  .LeftBottom {
    bottom: 55px !important;
    left: 0 !important;
  }
  .Right {
    top: 50% !important;
    right: 0 !important;
    transform: translateY(-50%) !important;
  }
  .RightTop {
    top: 55px !important;
    right: 0 !important;
  }
  .RightBottom {
    right: 0 !important;
    bottom: 55px !important;
  }
}

.i-design-demo-icon-list {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  box-sizing: border-box !important;
  padding: 0 !important;
  overflow: hidden !important;
  color: #303133 !important;
  border: 1px solid #ebedf1 !important;
  border-radius: 10px !important;
  text-size-adjust: 100% !important;
}

.i-design-demo-icon-item {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box !important;
  height: 125px !important;
  color: #606266 !important;
  font-size: 15px !important;
  line-height: 1.8 !important;
  text-align: center !important;
  list-style: none !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  transition: background 0.2s !important;
  text-size-adjust: 100% !important;
  &:hover {
    background: #f2f2f2 !important;
  }
  &::after {
    position: absolute !important;
    top: 4px !important;
    color: #999ba2 !important;
    font-size: 14px !important;
    opacity: 0 !important;
    transition: all 0.1s ease-out !important;
    content: '已复制组件' !important;
  }
  &.-copyed {
    &::after {
      opacity: 1 !important;
    }
  }
}

.prism-code {
  padding: 20px 24px !important;
}

.__dumi-default-previewer-actions {
  position: relative !important;
  border-top: 1px solid #EBEDF1;
}

.__dumi-default-previewer-actions button {
  position: relative !important;
  transform: scale(1.2) !important;
  opacity: 1 !important;
  &::before {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    z-index: 0 !important;
    width: 26px !important;
    height: 26px !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
    border-radius: 8px !important;
    transform: translate(-50%, -50%) !important;
    opacity: 0 !important;
    transition: all 0.2s ease-out !important;
    content: '' !important;
  }
  &::after {
    z-index: 1 !important;
  }
  &:hover {
    opacity: 1 !important;
    &::before {
      opacity: 1 !important;
    }
  }
}

.__dumi-default-previewer-actions > a:not(:last-child),
.__dumi-default-previewer-actions > button:not(:last-child) {
  margin-right: 20px !important;
}

.__dumi-default-previewer-actions a,
.__dumi-default-icon[title='Get JSX via TypeScript Playground'] {
  display: none !important;
}

.__dumi-default-previewer-actions button[role='codesandbox'] {
  position: absolute !important;
  right: 70px !important;
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 18px !important;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace !important;
  line-height: 28px !important;
  text-shadow: none !important;
}

.__dumi-default-layout[data-route='\/components\/grid'] {
  .__dumi-default-previewer-demo {
    .i-grid {
      margin-bottom: 16px !important;
      &:last-of-type {
        margin-bottom: 0 !important;
      }
    }
    .i-grid__item {
      & > div {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        min-height: 40px !important;
        color: #fff !important;
        background: #759eee !important;
      }
      &:nth-of-type(2n) {
        & > div {
          background: #9dbbf3 !important;
        }
      }
    }
  }
}

.__dumi-default-layout[data-route='\/components\/layout'] {
  .__dumi-default-previewer-demo {
    .i-layout--header {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height: 64px !important;
      color: #fff !important;
      font-size: 16px !important;
      text-align: center !important;
      background: #9dbbf3 !important;
    }
    .i-layout--aside {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      color: #fff !important;
      font-size: 16px !important;
      text-align: center !important;
      background: #5886e9 !important;
    }
    .i-layout--content {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height: 100px !important;
      color: #fff !important;
      font-size: 16px !important;
      text-align: center !important;
      background: #759eee !important;
    }
    .i-layout--footer {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height: 46px !important;
      color: #fff !important;
      font-size: 16px !important;
      text-align: center !important;
      background: #9dbbf3 !important;
    }
  }
}

.__dumi-default-layout[data-route='\/components\/input'] {
  .__dumi-default-previewer-demo {
    .i-input,
    .i-input__group {
      max-width: 500px !important;
    }
    .i-input__group {
      .i-input {
        max-width: 100% !important;
      }
    }
  }
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none !important;
}

$white: #bbc3d2;
$sfgrey: #bbbbbb;
$grey: #818a9b;
$yellow: #edc67e;
$green: #98c379;
$greblue: #54c4b9;
$blue: #61afef;
$red: #e06c75;
$orange: #d19a66;
$purple: #bd93f9;

.__dumi-default-code-block > pre[class*='language-'] {
  background: #282c34 !important;
}

code[class*='language-'],
pre[class*='language-'] {
  color: $white !important;
}

.language-ts {
  .token-line {
    .token {
      &.maybe-class-name {
        color: $blue !important;
      }
    }
  }
}

.token-line {
  .token {
    // js
    &.imports {
      color: $white !important;
    }
    &.string {
      color: $yellow !important;
    }
    &.boolean {
      color: $greblue !important;
    }
    &.keyword {
      color: $greblue !important;
      font-style: italic !important;
      &.control-flow {
        color: $red !important;
      }
      &.module {
        color: $red !important;
      }
    }
    &.exports {
      color: $white !important;
      &.operator {
        color: $greblue !important;
      }
    }
    &.imports {
      color: $white !important;
      &.operator {
        color: $greblue !important;
      }
    }
    &.function {
      color: $green !important;
    }
    &.function-variable {
      &.function {
        &.maybe-class-name {
          color: $green !important;
        }
      }
    }
    &.method.function.property-access {
      color: $green !important;
    }
    &.punctuation {
      color: $yellow !important;
    }
    &.parameter {
      color: $orange !important;
      &.punctuation {
        color: $white !important;
      }
    }
    &,
    &.parameter,
    &.spread {
      &.operator {
        color: $red !important;
      }
    }
    &.plain {
      color: $white !important;
    }
    &.comment {
      color: $grey !important;
      font-style: unset !important;
    }
    &.number {
      color: $purple !important;
    }
    &.dom.variable {
      color: $purple !important;
      font-style: italic !important;
    }
    &.constant {
      color: $purple !important;
    }
    &.property-access {
      color: $greblue !important;
    }
    &.known-class-name.class-name {
      color: $greblue !important;
    }
    &.console.class-name {
      color: $blue !important;
    }
    &.class-name {
      color: $blue !important;
    }
    &.regex {
      &.regex-delimiter {
        color: $yellow !important;
      }
      &.regex-source.language-regex {
        color: $greblue !important;
      }
      &.regex-flags {
        color: $red !important;
      }
    }
    &.maybe-class-name {
      // color: $blue !important;
      color: $white !important;
    }
    &.template-string {
      &.string {
        color: $yellow !important;
      }
      &.interpolation {
        color: $blue !important;
        &.operator,
        &.punctuation {
          color: $red !important;
        }
        &.interpolation-punctuation.punctuation {
          color: $purple !important;
        }
        &.function {
          color: $green !important;
        }
        &.regex {
          &.regex-delimiter {
            color: $yellow !important;
          }
          &.regex-flags {
            color: $red !important;
          }
        }
      }
    }
    &.script {
      &.language-javascript {
        color: $blue !important;
      }
    }

    // python
    &.builtin {
      color: $blue !important;
    }

    // html
    &.tag {
      color: $red !important;
      &.punctuation {
        color: $sfgrey !important;
      }
      &.attr-name {
        color: $green !important;
      }
      &.class-name {
        color: $blue !important;
      }
      &.spread {
        &.punctuation {
          color: $purple !important;
        }
        &.attr-value {
          color: $orange !important;
        }
      }
      &.attr-value {
        color: $yellow !important;
        &.punctuation {
          color: $yellow !important;
          &.attr-equals {
            color: $red !important;
          }
        }
      }
      &.script.language-javascript {
        color: $white !important;
        &.operator,
        &.script-punctuation.punctuation {
          color: $red !important;
        }
        &.punctuation {
          color: $purple !important;
        }
        &.function {
          color: $blue !important;
        }
        &.boolean {
          color: $blue !important;
        }
        &.keyword {
          color: $greblue !important;
        }
        &.parameter {
          color: $orange !important;
        }
        &.string {
          color: $yellow !important;
        }
        &.tag {
          &.class-name {
            color: $blue !important;
          }
        }
      }
    }
    &.entity.named-entity {
      color: $greblue !important;
    }
    &.style.language-css {
      color: $blue !important;
      &.atrule {
        &.rule {
          color: $red !important;
        }
        &.url {
          color: $orange !important;
          &.function {
            color: $green !important;
          }
        }
      }
    }
    &.doctype {
      font-style: unset !important;
      &.punctuation {
        color: $white !important;
      }
      &.doctype-tag {
        color: $red !important;
      }
      &.name {
        color: $greblue !important;
      }
    }

    // xml
    &.prolog {
      color: $purple !important;
      font-style: italic !important;
    }

    // css
    &.selector {
      color: $green !important;
      &.parent.important {
        color: $red !important;
      }
    }
    &.property {
      color: $greblue !important;
    }
    &.unit {
      color: $red !important;
    }
    &.important {
      color: $red !important;
    }
    &.hexcode.color {
      color: $purple !important;
    }
    &.color {
      color: $purple !important;
    }
    &.atrule {
      color: $red !important;
      &.rule {
        color: $purple !important;
      }
      &.keyword {
        color: $blue !important;
      }
      &.punctuation {
        color: $orange !important;
      }
      &.property {
        color: $greblue !important;
      }
      &.number {
        color: $purple !important;
      }
      &.unit {
        color: $red !important;
      }
    }

    // diff
    &.unchanged.line {
      color: $white !important;
    }
    &.inserted-sign {
      &.inserted {
        &.line,
        &.prefix.inserted {
          color: $green !important;
        }
        &.prefix.inserted {
          user-select: none !important;
        }
      }
    }
    &.deleted-sign.deleted {
      &.line,
      &.prefix.deleted {
        color: $red !important;
      }
      &.prefix.deleted {
        user-select: none !important;
      }
    }
  }
}
